<h1>Stupid Coach</h1>

<form action="/answer" method="get">
  <!-- name = "key_name" of your params hash-->
  <input type="text" name="question" placeholder="What can I help you with?">
  <input type="submit" value="Ask!">
</form>

<%= params["question"] %>
